.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}
.ant-tabs {
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;
}
.ant-tabs-content-holder {
    overflow: auto;
}
.answer-box {
    height: 100%;
}
.answer-box .ant-space-item:nth-child(2) {
    height: 100%;
}
