<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="//www.grapecity.com.cn/en/favicon/favicon-32x32.png"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GrapeCity AI Search</title>
        <%- EXTRA_PART1 %>
    </head>
    <body>
        <div id="root"></div>

        <%- EXTRA_PART2 %>

        <script type="module" src="/src/main.tsx"></script>
    </body>
</html>
